.hidden{
    display:none;

}



*{
    padding:0;
    margin:0;
    box-sizing: border-box;
  }
  body{
    background-color: white;
  }
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding:1.7%;
   
    
  }
  .container{
  width: 100%;
  height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;}
  .container .videoplayer{
    position: relative;
    width: 700px;
    height: 100%;
    border-radius: 5px;
    overflow:hidden;
     box-shadow: 0 0 5px rgb(255,255,255,0.24); 
    
  }
  .container .videoplayer video{
     position: relative;
    width:100%;
    height: 100%;
    outline: none; 
    
  }

  .container .videoplayer .controls{
    position:absolute;
    bottom:0;
    left:0;
    height:50px;
    width:100%;
    z-index:3;
     background-color:rgba(0, 0, 0, 0.180) ; 
     box-shadow:0 0 40 10 rgb(0 0 0/25%);  
    transform:translateY(0);
  }
  .controls .controlslist {
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:97%;
    height:46px;
    margin:0 auto;
  }

  i{
    color:white;
    font-size:18px;
  }

  .controls .controlslist .listLeft,
   .controls .controlslist .listright{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    cursor:pointer;
  }
 
  .videoplayer .controls .progressArea{
    width:95%;
    height:5px;
    margin:auto;
    background-color: gray;
    cursor:pointer;
  }

   .controls .progressArea .progressBar{
   position:relative;
   width:0%;
   height:inherit;
   background-color: red;
   border-radius:inherit;
   cursor:pointer;
  }

  .controls .progressArea .progressBar::before{
   content:" ";
   width:14px;
   height:14px;
   border-radius: 50%;
   position:absolute;
   background-color:purple;
   right:-5px;
   transform:translateY(-50%);
   top:50%;
   }


   .controls .soundRange{
    -webkit-appearance:none;
    appearance:none;
    height:3px;
    width:60px;
    border:none;
    outline:none;
    background-color: white;
    color:white;
    cursor:pointer;
    opacity:0;

   }


   .controls .soundRange::-webkit-slider-thumb{
    appearance:none;
    -webkit-appearance: none;
    height: 12px;
    width:12px;
    border-radius: 50%;
    color: #fff;
    background-color: #fff;
    border:none;
    outline: none;
    transition: 0.3;
   
  }

.current, .duration{
    color:#fff;
    font-size:16px;
}

.controls .controlslist .listLeft{
    margin-left: 2%;
}